# Eclipse project files
*/target/*
*/bin/*

.settings/
*/.settings
*/.settings/*

.project
*/.project
*/.project/*

.metadata/
*/.metadata
*/.metadata/*

.classpath
.properties


# Java class files
*.class

*.iml
*.brackets.json
*.idea
*/.idea/*
# OSX files
.DS_Store